{%extends 'hr/base.html' %}
{% block title %} HR-project {% endblock %}
{% block content %}

<style>
	.cal-icon:after {
		display: none;
	}
</style>
<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">Projects</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a
							href="{% url 'login' %}">Dashboard</a></li>
					<li class="breadcrumb-item active">Projects</li>
				</ul>
			</div>
		
		</div>
	</div>
	<!-- /Page Header -->

	<!-- Search Filter -->
	<!-- <div class="row filter-row">
		<div class="col-sm-6 col-md-3">
			<div class="form-group form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Project Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="form-group form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Employee Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="form-group form-focus select-focus">
				<select class="select floating">
					<option>Select Roll</option>
					<option>Web Developer</option>
					<option>Web Designer</option>
					<option>Android Developer</option>
					<option>Ios Developer</option>
				</select>
				<label class="focus-label">Designation</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<a href="#" class="btn btn-success btn-block"> Search </a>
		</div>
	</div> -->
	<!-- Search Filter -->

	<div class="row">
		
		{% for project in team %}
		{% if project.employee == request.user%}
		<div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
			<div class="card">
				<div class="card-body">
					<div class="dropdown dropdown-action profile-action">
						<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
							aria-expanded="false"><i class="material-icons">more</i></a>
						<div class="dropdown-menu dropdown-menu-right">

							<a href="{% url 'employee-project-detail' pk=project.project.id %}" class="dropdown-item"><i
									class="fa fa-pencil m-r-5"></i>
								View</a>
						
						
						</div>
					</div>

					<h4 class="project-title"><a
							href="{% url 'employee-project-detail' pk=project.project.id %}">{{project.project.project_name}}
						</a></h4>
					<!-- <small class="block text-ellipsis m-b-15">
				<span class="text-xs">1</span> <span class="text-muted">open tasks, </span>
				<span class="text-xs">9</span> <span class="text-muted">tasks completed</span>
			</small> -->
					<p class="text-muted">{{project.project.description}}
					</p>
					<div class="pro-deadline m-b-15">
						<div class="sub-title">
							Deadline:
						</div>
						<div class="text-muted">
							{{project.project.end_date}}
						</div>
					</div>
					<div class="project-members m-b-15">
						<div>Project Leader :</div>
						<ul class="team-members">
							{% for leader in team %}
							{% if leader.project_id == project.project.id and leader.employee.is_staff == True %}
							<li>
								<!-- <span>{{leader.employee}}</span>	 -->
								<a href="#" data-toggle="tooltip" title="{{leader.employee}}"><img alt=""
										src="{{leader.employee.imageurl}}"></a>
							</li>
							{% endif %}
							{% endfor%}
						</ul>
					</div>
					<div class="project-members m-b-15">
						<div>Team :</div>
						<ul class="team-members">
							{% for employee in team %}
							{% if employee.project_id == project.project.id and employee.employee.is_staff == False %}
							<li>
								<!-- <span>{{employee.employee}}</span> -->
								<a href="#" data-toggle="tooltip" title="{{employee.employee}}"><img alt=""
										src="{{employee.employee.imageurl}}"></a>
							</li>
							{% endif %}
							{% endfor%}
							<!-- <li class="dropdown avatar-dropdown">
								<a href="#" class="all-users dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false">+15</a>
								<div class="dropdown-menu dropdown-menu-right">
									<div class="avatar-group">
										<a class="avatar avatar-xs" href="#">
											<img alt=""
												src="https://smarthr.dreamguystech.com/light/assets/img/profiles/avatar-02.jpg">
										</a>

									</div>
									<div class="avatar-pagination">
										<ul class="pagination">
											<li class="page-item">
												<a class="page-link" href="#" aria-label="Previous">
													<span aria-hidden="true">«</span>
													<span class="sr-only">Previous</span>
												</a>
											</li>
											<li class="page-item"><a class="page-link" href="#">1</a></li>
											<li class="page-item"><a class="page-link" href="#">2</a></li>
											<li class="page-item">
												<a class="page-link" href="#" aria-label="Next">
													<span aria-hidden="true">»</span>
													<span class="sr-only">Next</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li> -->
						</ul>
					</div>
					<!-- <p class="m-b-5">Progress <span class="text-success float-right">40%</span></p>
					<div class="progress progress-xs mb-0">
						<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip"
							title="40%" style="width: 40%"></div>
					</div> -->
				</div>
			</div>
		</div>
		


	{%endif%}
		{% endfor %}


	</div>
</div>
<!-- /Page Content -->




{%endblock%}