{%extends 'hr/base.html' %}
{% block title %} All employees {% endblock %}
{% block content %}


<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">Employee</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a
							href="{% url 'hr_dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active">Employee</li>
				</ul>
			</div>
			<div class="col-auto float-right ml-auto">
				<!-- <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_employee"><i
						class="fa fa-plus"></i> Add Employee</a> -->
			
			</div>
		</div>
	</div>
	<!-- /Page Header -->

	<!-- Search Filter -->
	<!-- <div class="row filter-row">
		<div class="col-sm-6 col-md-3">
			<div class="form-group form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Employee ID</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="form-group form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Employee Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="form-group form-focus select-focus">
				<select class="select floating">
					<option>Select Designation</option>
					<option>Web Developer</option>
					<option>Web Designer</option>
					<option>Android Developer</option>
					<option>Ios Developer</option>
				</select>
				<label class="focus-label">Designation</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<a href="#" class="btn btn-success btn-block"> Search </a>
		</div>
	</div> -->
	<!-- Search Filter -->

	<div class="row staff-grid-row">
		{% for employee in employees %}
		<div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
			<div class="profile-widget">
				<div class="profile-img">
					<a href="#" class="avatar"><img
							src="{{employee.imageurl}}" alt="" style="max-width:100%; max-height:100%;" ;
							></a>
				</div>
				<div class="dropdown profile-action">
					<!-- <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
							class="material-icons">more_vert</i></a> -->
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_employee"><i
								class="fa fa-pencil m-r-5"></i> Edit</a>
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_employee"><i
								class="fa fa-trash-o m-r-5"></i> Delete</a>
					</div>
				</div>
				<h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
						href="#">{{employee.username}}</a></h4>
				<div class="small text-muted">{{employee.designation}}</div>
			</div>
		</div>
		{%endfor%}
		
	</div>
</div>
<!-- /Page Content -->

<!-- Add Employee Modal -->
<div id="add_employee" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Employee</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST">{% csrf_token %}
					<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-form-label">First Name <span class="text-danger">*</span></label>
						<input class="form-control" name="firstname" type="text">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-form-label">Last Name</label>
						<input class="form-control" name="lastname" type="text">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-form-label">Username <span class="text-danger">*</span></label>
						<input class="form-control" name="username" type="text">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-form-label">Email <span class="text-danger">*</span></label>
						<input class="form-control" name="email" type="email">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-form-label">Password</label>
						<input class="form-control"  type="password">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-form-label">Confirm Password</label>
						<input class="form-control" type="password">
					</div>
				</div>
		
		
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-form-label">Phone </label>
						<input class="form-control" type="number">
					</div>
				</div>
				
				
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-form-label">Designation </label>
								<input class="form-control" type="text">
							</div>
						</div>
					</div>
					
					<div class="submit-section">
						<button class="btn btn-primary submit-btn">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Add Employee Modal -->

<!-- Edit Employee Modal -->
<div id="edit_employee" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit Employee</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-form-label">First Name <span class="text-danger">*</span></label>
								<input class="form-control" value="John" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-form-label">Last Name</label>
								<input class="form-control" value="Doe" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-form-label">Username <span class="text-danger">*</span></label>
								<input class="form-control" value="johndoe" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-form-label">Email <span class="text-danger">*</span></label>
								<input class="form-control" value="johndoe@example.com" type="email">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-form-label">Password</label>
								<input class="form-control" value="johndoe" type="password">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-form-label">Confirm Password</label>
								<input class="form-control" value="johndoe" type="password">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
								<input type="text" value="FT-0001" readonly class="form-control floating">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-form-label">Joining Date <span class="text-danger">*</span></label>
								<div class="cal-icon"><input class="form-control datetimepicker" type="text"></div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-form-label">Phone </label>
								<input class="form-control" value="9876543210" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-form-label">Company</label>
								<select class="select">
									<option>Global Technologies</option>
									<option>Delta Infotech</option>
									<option selected>International Software Inc</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Department <span class="text-danger">*</span></label>
								<select class="select">
									<option>Select Department</option>
									<option>Web Development</option>
									<option>IT Management</option>
									<option>Marketing</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Designation <span class="text-danger">*</span></label>
								<select class="select">
									<option>Select Designation</option>
									<option>Web Designer</option>
									<option>Web Developer</option>
									<option>Android Developer</option>
								</select>
							</div>
						</div>
					</div>
					<div class="table-responsive m-t-15">
						<table class="table table-striped custom-table">
							<thead>
								<tr>
									<th>Module Permission</th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Holidays</td>
									<td class="text-center">
										<input checked="" type="checkbox">
									</td>
									<td class="text-center">
										<input type="checkbox">
									</td>
									<td class="text-center">
										<input type="checkbox">
									</td>
									<td class="text-center">
										<input type="checkbox">
									</td>
									<td class="text-center">
										<input type="checkbox">
									</td>
									<td class="text-center">
										<input type="checkbox">
									</td>
								</tr>
							
							</tbody>
						</table>
					</div>
					<div class="submit-section">
						<button class="btn btn-primary submit-btn">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Edit Employee Modal -->

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_employee" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-header">
					<h3>Delete Employee</h3>
					<p>Are you sure want to delete?</p>
				</div>
				<div class="modal-btn delete-action">
					<div class="row">
						<div class="col-6">
							<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
						</div>
						<div class="col-6">
							<a href="javascript:void(0);" data-dismiss="modal"
								class="btn btn-primary cancel-btn">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Delete Employee Modal -->

{%endblock%}