{%extends 'hr/base.html' %}
{% block title %} HR-project {% endblock %}
{% block content %}

<style>
	.cal-icon:after {
		display: none;
	}
</style>
<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">Projects</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a
							href="https://smarthr.dreamguystech.com/light/index.html">Dashboard</a></li>
					<li class="breadcrumb-item active">Projects</li>
				</ul>
			</div>
			<div class="col-auto float-right ml-auto">
				{% if request.user.is_superuser %}
				<a href="#" class="btn add-btn" data-toggle="modal" data-target="#create_project"><i
						class="fa fa-plus"></i> Create Project</a>
				<!-- <div class="view-icons">
					<a href="https://smarthr.dreamguystech.com/light/projects.html"
						class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
					<a href="https://smarthr.dreamguystech.com/light/project-list.html"
						class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
				</div> -->
				{% endif %}
			</div>
		</div>
	</div>
	<!-- /Page Header -->

	<!-- Search Filter -->
	<!-- <div class="row filter-row">
		<div class="col-sm-6 col-md-3">
			<div class="form-group form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Project Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="form-group form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Employee Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="form-group form-focus select-focus">
				<select class="select floating">
					<option>Select Roll</option>
					<option>Web Developer</option>
					<option>Web Designer</option>
					<option>Android Developer</option>
					<option>Ios Developer</option>
				</select>
				<label class="focus-label">Designation</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<a href="#" class="btn btn-success btn-block"> Search </a>
		</div>
	</div> -->
	<!-- Search Filter -->

	<div class="row">
		{% if request.user.is_superuser %}

		{% for project in project %}
		<div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
			<div class="card">
				<div class="card-body">
					<div class="dropdown dropdown-action profile-action">
						<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
							aria-expanded="false"><i class="material-icons">more</i></a>
						<div class="dropdown-menu dropdown-menu-right">

							<a href="{% url 'view-project' pk=project.id %}" class="dropdown-item"><i
									class="fa fa-pencil m-r-5"></i>
								View & Edit</a>
							<a class="dropdown-item" href="{% url 'delete-projects' pk=project.id %}"
								data-toggle="modal" data-target="#delete_project-{{project.id}}"><i
									class="fa fa-trash-o m-r-5"></i> Delete</a>
						

						</div>
					</div>

					<h4 class="project-title"><a
							href="{% url 'view-project' pk=project.id %}">{{project.project_name}}
						</a></h4>
					<!-- <small class="block text-ellipsis m-b-15">
				<span class="text-xs">1</span> <span class="text-muted">open tasks, </span>
				<span class="text-xs">9</span> <span class="text-muted">tasks completed</span>
			</small> -->
					<p class="text-muted">{{project.description}}
					</p>
					<div class="pro-deadline m-b-15">
						<div class="sub-title">
							Deadline:
						</div>
						<div class="text-muted">
							{{project.end_date}}
						</div>
					</div>
					<div class="project-members m-b-15">
						<div>Project Leader :</div>
						<ul class="team-members">
							{% for leader in team %}
							{% if leader.project_id == project.id and leader.employee.is_staff == True %}
							<li>
								<a href="#" data-toggle="tooltip" title="{{leader.employee}}"><img alt=""
										src="{{leader.employee.imageurl}}"></a>
							</li>
							{% endif %}
							{% endfor%}
						</ul>
					</div>
					<div class="project-members m-b-15">
						<div>Team :</div>
						<ul class="team-members">
							{% for employee in team %}
							{% if employee.project_id == project.id and employee.employee.is_staff == False %}
							<li>
								<a href="#" data-toggle="tooltip" title="{{employee.employee}}"><img alt=""
										src="{{employee.employee.imageurl}}"></a>
							</li>
							{% endif %}
							{% endfor%}
							<li class="dropdown avatar-dropdown">
								<!-- <a href="#" class="all-users dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false">+15</a> -->
								<div class="dropdown-menu dropdown-menu-right">
									<div class="avatar-group">
										<a class="avatar avatar-xs" href="#">
											<img alt=""
												src="https://smarthr.dreamguystech.com/light/assets/img/profiles/avatar-02.jpg">
										</a>

									</div>
									<div class="avatar-pagination">
										<ul class="pagination">
											<li class="page-item">
												<a class="page-link" href="#" aria-label="Previous">
													<span aria-hidden="true">«</span>
													<span class="sr-only">Previous</span>
												</a>
											</li>
											<li class="page-item"><a class="page-link" href="#">1</a></li>
											<li class="page-item"><a class="page-link" href="#">2</a></li>
											<li class="page-item">
												<a class="page-link" href="#" aria-label="Next">
													<span aria-hidden="true">»</span>
													<span class="sr-only">Next</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- <p class="m-b-5">Progress <span class="text-success float-right">40%</span></p>
					<div class="progress progress-xs mb-0">
						<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip"
							title="40%" style="width: 40%"></div>
					</div> -->
				</div>
			</div>
		</div>
		



		<!-- Delete Project Modal -->
		<div class="modal custom-modal fade" id="delete_project-{{project.id}}" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete Project</h3>
							<p>Are you sure want to delete {{project.project_name}}?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<a href="{% url 'delete-projects' pk=project.id %}"
										class="btn btn-primary continue-btn">Delete</a>
								</div>
								<div class="col-6">
									<a href="javascript:void(0);" data-dismiss="modal"
										class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Project Modal -->
		{% endfor %}
		{% else %}
		{% for project in project %}
		<div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
			<div class="card">
				<div class="card-body">
					<div class="dropdown dropdown-action profile-action">
						<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
							aria-expanded="false"><i class="material-icons">more</i></a>
						<div class="dropdown-menu dropdown-menu-right">

							<a href="{% url 'view-project' pk=project.project.id %}" class="dropdown-item"><i
									class="fa fa-pencil m-r-5"></i>
								View</a>
						
						
						</div>
					</div>

					<h4 class="project-title"><a
							href="{% url 'view-project' pk=project.project.id %}">{{project.project.project_name}}
						</a></h4>
					<!-- <small class="block text-ellipsis m-b-15">
				<span class="text-xs">1</span> <span class="text-muted">open tasks, </span>
				<span class="text-xs">9</span> <span class="text-muted">tasks completed</span>
			</small> -->
					<p class="text-muted">{{project.project.description}}
					</p>
					<div class="pro-deadline m-b-15">
						<div class="sub-title">
							Deadline:
						</div>
						<div class="text-muted">
							{{project.project.end_date}}
						</div>
					</div>
					<div class="project-members m-b-15">
						<div>Project Leader :</div>
						<ul class="team-members">
							{% for leader in team %}
							{% if leader.project_id == project.project.id and leader.employee.is_staff == True %}
							<li>
								<span>{{leader.employee}}</span>
								<a href="#" data-toggle="tooltip" title="Jeffery Lalor"><img alt=""
										src="https://smarthr.dreamguystech.com/light/assets/img/profiles/avatar-16.jpg"></a>
							</li>
							{% endif %}
							{% endfor%}
						</ul>
					</div>
					<div class="project-members m-b-15">
						<div>Team :</div>
						<ul class="team-members">
							{% for employee in team %}
							{% if employee.project_id == project.project.id and employee.employee.is_staff == False %}
							<li>
								<span>{{employee.employee}}</span>
								<a href="#" data-toggle="tooltip" title="John Doe"><img alt=""
										src="https://smarthr.dreamguystech.com/light/assets/img/profiles/avatar-02.jpg"></a>
							</li>
							{% endif %}
							{% endfor%}
							<li class="dropdown avatar-dropdown">
								<!-- <a href="#" class="all-users dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false">+15</a> -->
								<div class="dropdown-menu dropdown-menu-right">
									<div class="avatar-group">
										<a class="avatar avatar-xs" href="#">
											<img alt=""
												src="https://smarthr.dreamguystech.com/light/assets/img/profiles/avatar-02.jpg">
										</a>

									</div>
									<div class="avatar-pagination">
										<ul class="pagination">
											<li class="page-item">
												<a class="page-link" href="#" aria-label="Previous">
													<span aria-hidden="true">«</span>
													<span class="sr-only">Previous</span>
												</a>
											</li>
											<li class="page-item"><a class="page-link" href="#">1</a></li>
											<li class="page-item"><a class="page-link" href="#">2</a></li>
											<li class="page-item">
												<a class="page-link" href="#" aria-label="Next">
													<span aria-hidden="true">»</span>
													<span class="sr-only">Next</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- <p class="m-b-5">Progress <span class="text-success float-right">40%</span></p>
					<div class="progress progress-xs mb-0">
						<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip"
							title="40%" style="width: 40%"></div>
					</div> -->
				</div>
			</div>
		</div>
		



		{% endfor %}
		{% endif %}


	</div>
</div>
<!-- /Page Content -->

<!-- Create Project Modal -->
<div id="create_project" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create Project</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST">{% csrf_token %}
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Project Name</label>
								<input class="form-control" name="project_name" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Client</label>
								<input class="form-control" name="client" type="text">

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Start Date</label>
								<div class="cal-icon">
									<input class="form-control " name="start_date" type="date">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>End Date</label>
								<div class="cal-icon">
									<input class="form-control " name="end_date"  type="date">
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label>Rate</label>
								<input placeholder="$50" class="form-control" type="text">
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label>&nbsp;</label>
								<select class="select">
									<option>Hourly</option>
									<option>Fixed</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Priority</label>
								<select class="select">
									<option>High</option>
									<option>Medium</option>
									<option>Low</option>
								</select>
							</div>
						</div>
					</div> -->
					
					<!-- <div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Add Team</label>
								<input class="form-control" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Team Members</label>
								<div class="project-members">
									<a href="#" data-toggle="tooltip" title="John Doe" class="avatar">
										<img src="https://smarthr.dreamguystech.com/light/assets/img/profiles/avatar-16.jpg"
											alt="">
									</a>
									<a href="#" data-toggle="tooltip" title="Richard Miles" class="avatar">
										<img src="https://smarthr.dreamguystech.com/light/assets/img/profiles/avatar-09.jpg"
											alt="">
									</a>
									<a href="#" data-toggle="tooltip" title="John Smith" class="avatar">
										<img src="https://smarthr.dreamguystech.com/light/assets/img/profiles/avatar-10.jpg"
											alt="">
									</a>
									<a href="#" data-toggle="tooltip" title="Mike Litorus" class="avatar">
										<img src="https://smarthr.dreamguystech.com/light/assets/img/profiles/avatar-05.jpg"
											alt="">
									</a>
									<span class="all-team">+2</span>
								</div>
							</div>
						</div>
					</div> -->
					<div class="form-group">
						<label>Description</label>
						<textarea rows="4" class="form-control summernote" name="description"
							placeholder="Enter your message here"></textarea>
					</div>
					<!-- <div class="form-group">
						<label>Upload Files</label>
						<input class="form-control" type="file">
					</div> -->
					<div class="submit-section">
						<button class="btn btn-primary submit-btn">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Create Project Modal -->




{%endblock%}